---
interface Props {
    name: string,
    size?: number
}

const { name, size } = Astro.props as Props;

const iconSize = size || 24;

import LinkedIn from '../assets/social/LinkedIn.astro';
import GitHub from '../assets/social/GitHub.astro';
import LeetCode from '../assets/social/LeetCode.astro';
import Codewars from '../assets/social/Codewars.astro';
---

<div class="icon-wrapper">
    {name === 'LinkedIn' && <LinkedIn width={iconSize} height={iconSize}/>}
    {name === 'GitHub' && <GitHub width={iconSize} height={iconSize}/>}
    {name === 'LeetCode' && <LeetCode width={iconSize} height={iconSize}/>}
    {name === 'Codewars' && <Codewars size={iconSize}/>}
</div>

<style>
    .icon-wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>