---
interface Props {
    name: string,
    size?: number
}

const { name, size } = Astro.props as Props;

const iconSize = size || 24;

import LinkedIn from '../assets/social/LinkedIn.astro';
import GitHub from '../assets/social/GitHub.astro';
import LeetCode from '../assets/social/LeetCode.astro';
import Codewars from '../assets/social/Codewars.astro';
import Android from '../assets/skills/Android.astro';
import Angular from '../assets/skills/Angular.astro';
import AstroIcon from '../assets/skills/Astro.astro';
import Bootstrap from '../assets/skills/Bootstrap.astro';
import Cpp from '../assets/skills/Cpp.astro';
import Css from '../assets/skills/Css.astro';
import Express from '../assets/skills/Express.astro';
import Flask from '../assets/skills/Flask.astro';
import Html from '../assets/skills/Html.astro';
import Java from '../assets/skills/Java.astro';
import JavaScript from '../assets/skills/JavaScript.astro';
import Kotlin from '../assets/skills/Kotlin.astro';
import MongoDB from '../assets/skills/MongoDB.astro';
import Oracle from '../assets/skills/Oracle.astro';
import Python from '../assets/skills/Python.astro';
import React from '../assets/skills/React.astro';
import SpringBoot from '../assets/skills/SpringBoot.astro';
import SqlServer from '../assets/skills/SqlServer.astro';
import TypeScript from '../assets/skills/TypeScript.astro';
---

<div class="icon-wrapper">
    {name === 'LinkedIn' && <LinkedIn width={iconSize} height={iconSize}/>}
    {name === 'GitHub' && <GitHub width={iconSize} height={iconSize}/>}
    {name === 'LeetCode' && <LeetCode width={iconSize} height={iconSize}/>}
    {name === 'Codewars' && <Codewars size={iconSize}/>}
    {name === 'Android' && <Android size={iconSize}/>}
    {name === 'React Native' && <React size={iconSize}/>}
    {name === 'Angular' && <Angular size={iconSize}/>}
    {name === 'Astro' && <AstroIcon size={iconSize}/>}
    {name === 'Bootstrap' && <Bootstrap size={iconSize}/>}
    {name === 'C++' && <Cpp size={iconSize}/>}
    {name === 'CSS' && <Css size={iconSize}/>}
    {name === 'Express' && <Express size={iconSize}/>}
    {name === 'Flask' && <Flask size={iconSize}/>}
    {name === 'HTML' && <Html size={iconSize}/>}
    {name === 'Java' && <Java size={iconSize}/>}
    {name === 'JavaScript' && <JavaScript size={iconSize}/>}
    {name === 'Kotlin' && <Kotlin size={iconSize}/>}
    {name === 'MongoDB' && <MongoDB size={iconSize}/>}
    {name === 'Oracle' && <Oracle size={iconSize}/>}
    {name === 'Python' && <Python size={iconSize}/>}
    {name === 'React' && <React size={iconSize}/>}
    {name === 'Spring Boot' && <SpringBoot size={iconSize}/>}
    {name === 'SQL Server' && <SqlServer size={iconSize}/>}
    {name === 'TypeScript' && <TypeScript size={iconSize}/>}
</div>

<style>
    .icon-wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>